Planner/Planner_flows/planner_flows.json
[{"id":"e2af5376.da7c38","type":"splitter","name":"Split Sensors","property":"payload.sensors","x":131,"y":173,"z":"c622f01f.ba78c8","wires":[["3fbae093.b2faf8"]]},{"id":"e23c6e9d.c58ed8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":654.5556488037109,"y":270.7777462005615,"z":"c622f01f.ba78c8","wires":[]},{"id":"3fbae093.b2faf8","type":"function","name":"Single OUTLET","func":"var obj = {\n            \"payload\" : {\n                \"type\": \"\",\n                \"state\":\"\",\n                \"ts\":\"\",\n                \"tf\":\"\",\n                \"sid\":\"\",\n                \"hid\":\"\"\n            }\n        };\n//console.log(msg);\nobj.payload.type = msg.payload.type;\nobj.payload.ts = msg.payload.ts;\nobj.payload.tf = context.global.dateformat(new Date(parseInt(msg.payload.ts * 1000)),\"HH:MM:ss\");\nobj.payload.state = msg.payload.state; \nobj.payload.sid = msg.payload.sid;\nobj.payload.hid = msg.topic.split(\"/\")[2];\n//console.log(obj);\nreturn obj;","outputs":"1","valid":true,"x":367.9999694824219,"y":158,"z":"c622f01f.ba78c8","wires":[["e379c6a8.f498b","e471a64.a58ee58"]]},{"id":"8c8259c6.21d218","type":"mqtt in","name":"Dummy mqtt input","topic":"","broker":"","x":260,"y":297,"z":"c622f01f.ba78c8","wires":[["6aaac257.7d7cfc","6ae89e88.a48e4"]]},{"id":"e379c6a8.f498b","type":"debug","name":"","active":false,"console":"false","complete":"true","x":492.66647720336914,"y":126.44440078735352,"z":"c622f01f.ba78c8","wires":[]},{"id":"6aaac257.7d7cfc","type":"json","name":"","x":171,"y":237,"z":"c622f01f.ba78c8","wires":[["e2af5376.da7c38"]]},{"id":"e2057d1d.b1da3","type":"mqtt out","name":"Dummy MQTT output","topic":"","qos":"","retain":"","broker":"","x":711.5556640625,"y":198.77774047851562,"z":"c622f01f.ba78c8","wires":[]},{"id":"e471a64.a58ee58","type":"switch","name":"","property":"payload.type","rules":[{"t":"eq","v":"Temperature"}],"checkall":"true","outputs":1,"x":473.55564880371094,"y":195.77774620056152,"z":"c622f01f.ba78c8","wires":[["bfd77830.a7f66","f1e9d823.db4e38"]]},{"id":"bfd77830.a7f66","type":"switch","name":"","property":"payload.sid","rules":[{"t":"eq","v":"131074"}],"checkall":"false","outputs":1,"x":566.5556488037109,"y":232.77774620056152,"z":"c622f01f.ba78c8","wires":[["e2057d1d.b1da3","e23c6e9d.c58ed8"]]},{"id":"850b3888.617188","type":"inject","name":"Temp Input","topic":"cosmostest/Dalehead/cI7I8CE5IYRQ","payload":"{\"sid\":\"131074\",\"ts\":\"1446619783\",\"type\":\"Temperature\",\"state\":\"19.90625\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":305.1110153198242,"y":56.111087799072266,"z":"c622f01f.ba78c8","wires":[["affe0b68.c1ff38"]]},{"id":"affe0b68.c1ff38","type":"json","name":"","x":331.1110153198242,"y":109.11108779907227,"z":"c622f01f.ba78c8","wires":[["3fbae093.b2faf8"]]},{"id":"6ae89e88.a48e4","type":"debug","name":"","active":false,"console":"false","complete":"true","x":459.11104583740234,"y":352.11108779907227,"z":"c622f01f.ba78c8","wires":[]},{"id":"f1e9d823.db4e38","type":"debug","name":"","active":false,"console":"false","complete":"true","x":562.1110153198242,"y":159.11105728149414,"z":"c622f01f.ba78c8","wires":[]},{"id":"40f11058.2dd62","type":"debug","name":"Event Debugger","active":true,"console":"true","complete":"true","x":378.6428527832031,"y":750,"z":"c622f01f.ba78c8","wires":[]},{"id":"3ec11b5d.e8fa1c","type":"function","name":"Cheat Complex Event","func":"var ComplexEvent;\nComplexEvent = \"{\\\"hasComplexEventName\\\": \\\"SensorMalfunction\\\", \\\"hasSensorType\\\": \\\"Temperature\\\", \\\"hasSid\\\": 131074, \\\"since\\\": 1433838989, \\\"ts\\\": 1441362105}\";\nmsg.payload = ComplexEvent;\nreturn msg;","outputs":1,"valid":true,"x":633.4999923706055,"y":500.4285354614258,"z":"c622f01f.ba78c8","wires":[["bd96be6b.bab8d8"]]},{"id":"4b80f194.741828","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":492.50000381469727,"y":549.428524017334,"z":"c622f01f.ba78c8","wires":[["3ec11b5d.e8fa1c"]]},{"id":"bd96be6b.bab8d8","type":"mqtt out","name":"Dummy mqtt output","topic":"","qos":"2","retain":"","broker":"","x":799.499942779541,"y":459.428524017334,"z":"c622f01f.ba78c8","wires":[]},{"id":"3179321c.506a36","type":"inject","name":"Generic trigger","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":72.5,"y":665,"z":"c622f01f.ba78c8","wires":[["9b7b7272.7dcaa8"]]},{"id":"9e67472b.3432c","type":"exec","command":"cd %HOMEPATH% && if not exist \"%HOMEPATH%/FilterDetails.cfg\" NUL>FilterDetails.cfg","addpay":false,"append":"","useSpawn":"","name":"Create Config File","x":436.6428527832031,"y":629,"z":"c622f01f.ba78c8","wires":[[],[],[]]},{"id":"9b7b7272.7dcaa8","type":"switch","name":"Check for init or update","property":"payload","rules":[{"t":"eq","v":"{\"initialization\"}"},{"t":"else"}],"checkall":"false","outputs":2,"x":183.64285278320312,"y":709,"z":"c622f01f.ba78c8","wires":[["9e67472b.3432c"],["40f11058.2dd62","97e14f2f.1e0e4"]]},{"id":"97e14f2f.1e0e4","type":"file","name":"Dummy file write","filename":"","appendNewline":false,"overwriteFile":"true","x":678.6428527832031,"y":713,"z":"c622f01f.ba78c8","wires":[]},{"id":"3f8ca4d0.cf469c","type":"http in","name":"Dummy POST listener","url":"","method":"post","x":117.64285278320312,"y":522,"z":"c622f01f.ba78c8","wires":[["cb1ec64.51ae4b8","9603c731.d5805"]]},{"id":"cb1ec64.51ae4b8","type":"function","name":"Test HTTP","func":"var filter;\nfilter = {payload:msg.req.body};\nreturn [msg, filter];","outputs":"2","valid":true,"x":290.6428527832031,"y":564,"z":"c622f01f.ba78c8","wires":[["677efe15.986118"],["3a3ea075.2ab35"]]},{"id":"677efe15.986118","type":"http response","name":"Responce to dummy POST","x":496.0714111328125,"y":432.142822265625,"z":"c622f01f.ba78c8","wires":[]},{"id":"9603c731.d5805","type":"debug","name":"","active":false,"console":"true","complete":"req.body","x":247.38333129882812,"y":466.4547424316406,"z":"c622f01f.ba78c8","wires":[]},{"id":"3a3ea075.2ab35","type":"json","name":"","x":192.38333129882812,"y":619.4547119140625,"z":"c622f01f.ba78c8","wires":[["9b7b7272.7dcaa8"]]},{"id":"bdcdef22.8869e","type":"inject","name":"Manual Clear Filter","topic":"","payload":"{}","payloadType":"string","repeat":"","crontab":"","once":false,"x":497.3833312988281,"y":805.4547119140625,"z":"c622f01f.ba78c8","wires":[["97e14f2f.1e0e4"]]}]