PriveletsFunctionalComponent/Node-RED/configurePriveletsFlow.json
[{"id":"6ac97957.dfab48","type":"confPrivelets","z":"4a1fe09a.e3be9","name":"confPriveletsExample1","Interval":"10","Public":"utm_zone","LowPrivacy":"","MediumPrivacy":"","HighPrivacy":"latitude:range=0.01,longitude:range=0.001","Private":"id,ipAddress,domain,temperature","x":342.0992431640625,"y":985.8186340332031,"wires":[["ee18e8cb.c330e8"]]},{"id":"58b0f0.fddcbf1","type":"inject","z":"4a1fe09a.e3be9","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":126.09944152832031,"y":972.6363220214844,"wires":[["6ac97957.dfab48"]]},{"id":"ee18e8cb.c330e8","type":"function","z":"4a1fe09a.e3be9","name":"formConfFilePrivelets","func":"var interval = msg.Interval\nmsg.payload = {};\nmsg.payload.interval_between_requests = interval;\n\nmsg.payload.data = {};\n\nvar numberOfPublic = msg.Public.split(\",\");\nvar numberOfLowPrivacy = msg.LowPrivacy.split(\",\");\nvar numberOfMediumPrivacy = msg.MediumPrivacy.split(\",\");\nvar numberOfHighPrivacy = msg.HighPrivacy.split(\",\");\nvar numberOfPrivate = msg.Private.split(\",\");\n\nfor (i=0; i<numberOfPublic.length; i++) {\n    \n    var thisPublic = msg.Public.split(\",\")[i].split(\":\")[0];\n    \n    if (thisPublic !== \"\") {\n    msg.payload.data[thisPublic] = {};\n    msg.payload.data[thisPublic].privacy_level = \"public\";\n    msg.payload.data[thisPublic].range = \"none\";\n    }\n}\n\nfor (i=0; i<numberOfLowPrivacy.length; i++) {\n    \n    var thisLow = msg.LowPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisLow !== \"\") {\n    var range = msg.LowPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisLow] = {};\n    msg.payload.data[thisLow].privacy_level = \"low\";\n    msg.payload.data[thisLow].range = range.toString();\n    }\n} \n\nfor (i=0; i<numberOfMediumPrivacy.length; i++) {\n    \n    var thisMedium = msg.MediumPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisMedium !== \"\") {\n    var range = msg.MediumPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisMedium] = {};\n    msg.payload.data[thisMedium].privacy_level = \"medium\";\n    msg.payload.data[thisMedium].range = range.toString();\n    }\n}    \n\nfor (i=0; i<numberOfHighPrivacy.length; i++) {\n    \n    var thisHigh = msg.HighPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisHigh !== \"\") {\n    var range = msg.HighPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisHigh] = {};\n    msg.payload.data[thisHigh].privacy_level = \"high\";\n    msg.payload.data[thisHigh].range = range.toString();\n    }\n}    \n\nfor (i=0; i<numberOfPrivate.length; i++) {\n    \n    var thisPrivate = msg.Private.split(\",\")[i].split(\":\")[0];\n    \n    if (thisPrivate !== \"\") {\n    msg.payload.data[thisPrivate] = {};\n    msg.payload.data[thisPrivate].privacy_level = \"private\";\n    msg.payload.data[thisPrivate].range = \"none\";\n    }\n}\n\nvar path = context.global.path;\nvar root = path.parse(path.toString()).root;\nvar fname = root.concat(path.sep).concat(\"PriveletsService\").concat(path.sep).concat(\"PriveletsService_configuration.json\");\nmsg.filename = fname;\n\nreturn msg;","outputs":1,"noerr":0,"x":606.0994110107422,"y":983.5457458496094,"wires":[["56f121ec.cbd23","d1d194d9.bbfee8"]]},{"id":"56f121ec.cbd23","type":"debug","z":"4a1fe09a.e3be9","name":"configuration","active":true,"console":"false","complete":"payload","x":847.0994110107422,"y":912.6364440917969,"wires":[]},{"id":"d1d194d9.bbfee8","type":"file","z":"4a1fe09a.e3be9","name":"confFilePrivelets","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":861.0994110107422,"y":1040.7273864746094,"wires":[]}]