PriveletsFunctionalComponent/Node-RED/pushModelPriveletsFlow.json
[{"id":"eeaa21ae.99f3a","type":"json","z":"4a1fe09a.e3be9","name":"","x":307.0993194580078,"y":74.727294921875,"wires":[["6b7528a1.8caea8"]]},{"id":"6344fdac.175ca4","type":"http request","z":"4a1fe09a.e3be9","name":"pushModelPriveletsService","method":"POST","ret":"obj","url":"http://localhost:8080/push","x":836.0994110107422,"y":205,"wires":[["586ab7db.3f3998"]]},{"id":"586ab7db.3f3998","type":"debug","z":"4a1fe09a.e3be9","name":"filteredJsonData","active":true,"console":"false","complete":"payload","x":992.0993499755859,"y":334.9091796875,"wires":[]},{"id":"184620ac.7e6b4f","type":"inject","z":"4a1fe09a.e3be9","name":"jsonData","topic":"","payload":"{      \"temperature\":\"25.4\",    \"id\":\"ntua\",    \"utm_zone\":\"34\",    \"latitude\":\"744302\",    \"longitude\":\"4207015\",    \"domain\":\"building\",    \"ipAddress\":\"0.0.0.0\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.09945678710938,"y":216.09091186523438,"wires":[["850e3b56.41f008"]]},{"id":"80c33585.fcabe8","type":"debug","z":"4a1fe09a.e3be9","name":"jsonDataBeforePriveletsFilter","active":true,"console":"false","complete":"payload","x":917.0994110107422,"y":95.09091186523438,"wires":[]},{"id":"93258369.5d8ec","type":"switch","z":"4a1fe09a.e3be9","name":"","property":"format","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":388.0993957519531,"y":213.09091186523438,"wires":[["eeaa21ae.99f3a"],["6344fdac.175ca4","cc28a8ca.df1c78"]]},{"id":"850e3b56.41f008","type":"function","z":"4a1fe09a.e3be9","name":"checkJsonFormat","func":"var pay = msg.payload.replace(/ /g, \"\");\n\nvar object = pay.indexOf(\":{\") >= 0;\n\nvar array = pay.indexOf(\"[\") === 0 || pay.indexOf(\":[\") >=0;\n\nmsg.payload = pay;\n\nmsg.format = !(array || object);\n\nreturn msg;","outputs":1,"noerr":0,"x":313.09942626953125,"y":285.0909118652344,"wires":[["93258369.5d8ec"]]},{"id":"cc28a8ca.df1c78","type":"debug","z":"4a1fe09a.e3be9","name":"jsonDataBeforePriveletsFilter","active":true,"console":"false","complete":"payload","x":537.0994110107422,"y":379.0909118652344,"wires":[]},{"id":"6b7528a1.8caea8","type":"function","z":"4a1fe09a.e3be9","name":"convertJsonDataToProperFormatExample","func":"\nreturn msg;","outputs":1,"noerr":0,"x":562.9516448974609,"y":119.59658813476562,"wires":[["80c33585.fcabe8","6344fdac.175ca4"]]}]