Privelets/flow_Privelets.json
[{"type":"tab","id":"cdd7e934.ebea78","label":"PriveletsService"},{"id":"db6a9425.d09c58","type":"mqtt-broker","z":"cdd7e934.ebea78","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d563362d.49b998","type":"function","z":"cdd7e934.ebea78","name":"convertRawJsonDataExample3","func":"var sensors = msg.payload.sensors[0];\n\nmsg = {};\nmsg.payload = sensors;\n\nreturn msg;","outputs":1,"noerr":0,"x":506.0994110107422,"y":49.909088134765625,"wires":[[]]},{"id":"c4419032.71503","type":"json","z":"cdd7e934.ebea78","name":"","x":299.09934997558594,"y":145.727294921875,"wires":[["3aac796a.4d0dd6"]]},{"id":"3830584c.f191a8","type":"http request","z":"cdd7e934.ebea78","name":"pushModelPriveletsService","method":"POST","ret":"obj","url":"http://localhost:8080/push","x":788.0994110107422,"y":213,"wires":[["9b11e3f4.ae10a"]]},{"id":"185044e7.e374db","type":"debug","z":"cdd7e934.ebea78","name":"filteredJsonData","active":true,"console":"false","complete":"payload","x":994.0992889404297,"y":290.9091796875,"wires":[]},{"id":"4117ee11.e26c7","type":"mqtt in","z":"cdd7e934.ebea78","name":"MyTopic","topic":"MyTopic","broker":"db6a9425.d09c58","x":724.0994110107422,"y":283.9091796875,"wires":[["185044e7.e374db"]]},{"id":"906f6c57.a51a5","type":"confPrivelets","z":"cdd7e934.ebea78","name":"confPriveletsExample1","Interval":"10","Public":"utm_zone,domain","LowPrivacy":"temperature:range=0.1,latitude:range=0.01,longitude:range=0.001","MediumPrivacy":"","HighPrivacy":"","Private":"id,ipAddress","x":333.09925842285156,"y":610.818603515625,"wires":[[]]},{"id":"76313382.9d06bc","type":"inject","z":"cdd7e934.ebea78","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":102.09944152832031,"y":604.6363525390625,"wires":[["f699fd07.5f3f8"]]},{"id":"757ba5c7.3aee4c","type":"function","z":"cdd7e934.ebea78","name":"formConfFilePrivelets","func":"var interval = msg.Interval\nmsg.payload = {};\nmsg.payload.interval_between_requests = interval;\n\nmsg.payload.data = {};\n\nvar numberOfPublic = msg.Public.split(\",\");\nvar numberOfLowPrivacy = msg.LowPrivacy.split(\",\");\nvar numberOfMediumPrivacy = msg.MediumPrivacy.split(\",\");\nvar numberOfHighPrivacy = msg.HighPrivacy.split(\",\");\nvar numberOfPrivate = msg.Private.split(\",\");\n\nfor (i=0; i<numberOfPublic.length; i++) {\n    \n    var thisPublic = msg.Public.split(\",\")[i].split(\":\")[0];\n    \n    if (thisPublic !== \"\") {\n    msg.payload.data[thisPublic] = {};\n    msg.payload.data[thisPublic].privacy_level = \"public\";\n    msg.payload.data[thisPublic].range = \"none\";\n    }\n}\n\nfor (i=0; i<numberOfLowPrivacy.length; i++) {\n    \n    var thisLow = msg.LowPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisLow !== \"\") {\n    var range = msg.LowPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisLow] = {};\n    msg.payload.data[thisLow].privacy_level = \"low\";\n    msg.payload.data[thisLow].range = range.toString();\n    }\n} \n\nfor (i=0; i<numberOfMediumPrivacy.length; i++) {\n    \n    var thisMedium = msg.MediumPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisMedium !== \"\") {\n    var range = msg.MediumPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisMedium] = {};\n    msg.payload.data[thisMedium].privacy_level = \"medium\";\n    msg.payload.data[thisMedium].range = range.toString();\n    }\n}    \n\nfor (i=0; i<numberOfHighPrivacy.length; i++) {\n    \n    var thisHigh = msg.HighPrivacy.split(\",\")[i].split(\":\")[0];\n    \n    if (thisHigh !== \"\") {\n    var range = msg.HighPrivacy.split(\",\")[i].split(\":\")[1].split(\"=\")[1];\n    msg.payload.data[thisHigh] = {};\n    msg.payload.data[thisHigh].privacy_level = \"high\";\n    msg.payload.data[thisHigh].range = range.toString();\n    }\n}    \n\nfor (i=0; i<numberOfPrivate.length; i++) {\n    \n    var thisPrivate = msg.Private.split(\",\")[i].split(\":\")[0];\n    \n    if (thisPrivate !== \"\") {\n    msg.payload.data[thisPrivate] = {};\n    msg.payload.data[thisPrivate].privacy_level = \"private\";\n    msg.payload.data[thisPrivate].range = \"none\";\n    }\n}\n\nvar path = context.global.path;\nvar root = path.parse(path.toString()).root;\nvar fname = root.concat(path.sep).concat(\"PriveletsService\").concat(path.sep).concat(\"PriveletsService_configuration.json\");\nmsg.filename = fname;\n\nreturn msg;","outputs":1,"noerr":0,"x":609.0994110107422,"y":612.5458068847656,"wires":[["7238e652.35a458","1b5089c4.be4d46"]]},{"id":"7238e652.35a458","type":"debug","z":"cdd7e934.ebea78","name":"configuration","active":true,"console":"false","complete":"payload","x":819.0994110107422,"y":509.636474609375,"wires":[]},{"id":"1b5089c4.be4d46","type":"file","z":"cdd7e934.ebea78","name":"confFilePrivelets","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":838.0994110107422,"y":710.7273254394531,"wires":[]},{"id":"3aac796a.4d0dd6","type":"function","z":"cdd7e934.ebea78","name":"convertRawJsonDataExample2","func":"var heatmeter = msg.payload.heatmeter;\n\nmsg.payload = heatmeter;\n\nreturn msg;","outputs":1,"noerr":0,"x":507.0994110107422,"y":145.09091186523438,"wires":[["7b89a25b.cdb53c","3830584c.f191a8"]]},{"id":"f699fd07.5f3f8","type":"confPrivelets","z":"cdd7e934.ebea78","name":"confPriveletsExample2","Interval":"10","Public":"ts","LowPrivacy":"flowTemp:range=0.1","MediumPrivacy":"","HighPrivacy":"returnTemp:range=0.1","Private":"instant,cumulative,flowRate","x":332.0992736816406,"y":533.7276306152344,"wires":[["757ba5c7.3aee4c"]]},{"id":"e8ed2634.fe9098","type":"inject","z":"cdd7e934.ebea78","name":"inputRawJsonData","topic":"","payload":" {      \"estate\":\"ntua\",    \"hid\":\"ntua\",    \"ts\":1463489597,    \"heatmeter\":{         \"returnTemp\":\"71.1\",       \"flowRate\":\"137\",       \"flowTemp\":\"73.1\",       \"ts\":\"1463489596\",       \"instant\":\"324\",       \"cumulative\":\"32390\"    } }","payloadType":"string","repeat":"10","crontab":"","once":true,"x":149.09945678710938,"y":214.09091186523438,"wires":[[]]},{"id":"9b11e3f4.ae10a","type":"mqtt out","z":"cdd7e934.ebea78","name":"MyTopic","topic":"MyTopic","qos":"","retain":"","broker":"db6a9425.d09c58","x":1009.0994110107422,"y":214.09091186523438,"wires":[]},{"id":"7eee416.b7d72c","type":"comment","z":"cdd7e934.ebea78","name":"functions to convert raw json data to a json object with only string:string name/value pairs","info":"","x":463.09942626953125,"y":99.09091186523438,"wires":[]},{"id":"10c57d11.86d823","type":"confPrivelets","z":"cdd7e934.ebea78","name":"confPriveletsExample3","Interval":"10","Public":"ts","LowPrivacy":"","MediumPrivacy":"state:range=0.1","HighPrivacy":"","Private":"sid,type","x":332.0992889404297,"y":423.545654296875,"wires":[[]]},{"id":"3f62f24f.61b5de","type":"mqtt in","z":"cdd7e934.ebea78","name":"DataSource","topic":"DataSource","broker":"db6a9425.d09c58","x":93.09944152832031,"y":60.090911865234375,"wires":[[]]},{"id":"78445ac8.6c0404","type":"debug","z":"cdd7e934.ebea78","name":"inputRawJsonData","active":true,"console":"false","complete":"payload","x":419.09938049316406,"y":320.0909118652344,"wires":[]},{"id":"b5191b38.2c6f38","type":"comment","z":"cdd7e934.ebea78","name":"node to configure Privelets component","info":"","x":334.0994415283203,"y":478.0909118652344,"wires":[]},{"id":"852cff63.88c85","type":"comment","z":"cdd7e934.ebea78","name":"5 possible privacy levels: Public, LowPrivacy, MediumPrivacy, HighPrivacy, Private","info":"","x":381.099365234375,"y":721.8181762695312,"wires":[]},{"id":"317bbf9f.a13bd","type":"comment","z":"cdd7e934.ebea78","name":"for Public and Private level, separate the data fields by comma: data_field1,data_field2 etc","info":"","x":378.09942626953125,"y":767.8181762695312,"wires":[]},{"id":"db8f6686.81fa58","type":"comment","z":"cdd7e934.ebea78","name":"for LowPrivacy, MediumPrivacy and HighPrivacy level: data_field1:range=range1,data_field2:range=range2 etc","info":"","x":401.5,"y":816.8181762695312,"wires":[]},{"id":"9d5eb9d7.fa3e88","type":"comment","z":"cdd7e934.ebea78","name":"ignore Interval tag (applied on pull model of PriveletsService)","info":"","x":362.0993957519531,"y":668.8181762695312,"wires":[]},{"id":"75c29b8a.82b864","type":"comment","z":"cdd7e934.ebea78","name":"if you do not assign any privacy level to a specific data field, then this is considered as Public","info":"","x":410.09942626953125,"y":863.8181762695312,"wires":[]},{"id":"f249759.2269888","type":"comment","z":"cdd7e934.ebea78","name":"this function stores the configuration json file under the main root\\PriveletsService folder","info":"","x":797.0994262695312,"y":562.9090881347656,"wires":[]},{"id":"7b89a25b.cdb53c","type":"debug","z":"cdd7e934.ebea78","name":"inputJsonDataBeforePriveletsFilter","active":true,"console":"false","complete":"payload","x":879.0994110107422,"y":47.090911865234375,"wires":[]},{"id":"3834a27.65dfb5e","type":"comment","z":"cdd7e934.ebea78","name":"input will be connected either to json or directly to pushModelPriveletsService","info":"","x":298.49998474121094,"y":260.0909118652344,"wires":[]}]